<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">These are some of the web apps I have built using Ruby on Rails, since I started my transition to a new career in July of 2018.</p>
    <p>
      <%= link_to 'Find Out More About Me', about_path, class: 'btn btn-primary' %>
      <%= link_to 'My Resume', resume_path, class: 'btn btn-secondary' %>
    </p>
  </div>
</section>