<div class="album py-5 bg-light">
  <div class="container">
    <div class="row <%= 'sortable' if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
  
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= new_portfolio %> |
      <a href="#">Back to top</a>
    </p>
    <p><%= copyright_generator %></p>
  </div>
</footer>

