<h1>Portfolio</h1>

<% @portfolio_items.each do |pi| %>
  <p><%= pi.title %></p>
  <p><%= pi.subtitle %></p>
  <p><%= pi.body %></p>
  <% if pi.thumb_image? %>
    <p><%= image_tag pi.thumb_image %></p>
  <% end %>
<% end %>