<main role="main" class="inner cover">
  <h1 class="cover-heading">A Little More About Myself</h1>
  <br>
  <p class="lead">My name is Sohel Patel and I am an experienced entrepreneur with leadership experience. After spending 9 years running a small business as an IT and General Manager, and owning/operating a quick service restaurant, I decided to follow my passion and transition into a full stack web developer. I am confident that my entrepreneurial spirit and work ethic will bring a fresh energy to any team.
  </p>
  <p class="lead">
  Through my time at Momentum Learning, a fully immersive training program with a primary focus on Ruby on Rails, I acquired the necessary skills for a career in web development. Furthermore, I continue my training via online tutorials to further strengthen my Ruby on Rails skills, and plan to learn additional languages moving forward.
  </p>
  <p class="lead">
  Prior to my transition into web development I owned and operated a quick service restaurant for 3 years. In this endeavor I channeled my entrepreneurial drive into every aspect of the business from managing inventory and employee schedules to accounting and acquiring new large clients for the catering business. Before this venture I spent nine years as an IT and General Manager of Hope Psychiatric PLLC. In this capacity, I was in charge of the day to day operations of the business from negotiating reimbursement contracts with insurance carriers to training and managing employees. Additionally, I oversaw the selection, installation, and maintenance of our on-site server, network, and electronic medical records system. Over the course of my time there, I oversaw transitions to two new EMR software and was responsible for tailoring them to our needs and training employees on its usage.
  </p>
  <p class="lead">
  Currently, as I seek a full-time role in web development I remain active in honing my web development skills. As seen from the work samples in my <%= portfolios %>, I continue to build new web apps in order to round out my skillset for a long career in the tech industry. 
  </p>
  <p class="lead">
  I have included my resume on this site, and am available to discuss new opportunities. I can be reached via email at spatel1009@gmail.com.
  </p>
  <p class="lead">
    <a href= <%= resume_path %> class="btn btn-lg btn-secondary">Resume</a>
  </p>
</main>