<div class='container'>
  <div class='row'>
    <div class='container'>
      <div class='span12'>
        <%= image_tag 'profile.jpg', class:'center-block sohelpic', alt: 'profile-picture' %>
      </div>
    </div>
  </div>
</div>

<main role="main" class="inner cover">
  <h1 class="cover-heading">My Portfolio Website!</h1>
  <p class="lead">My name is Sohel Patel, I am an aspiring full stack developer, with a primary focus on Ruby on Rails.  I am currently located in North Carolina.</p>
  <p class="lead">
    <a href= <%= about_path %> class="btn btn-lg btn-secondary">Learn more about me</a>
  </p>
</main>

