<div class='container'>
  <div class='row'>
    <div class='container'>
      <div class='span12'><img class='center-block sohelpic' src='https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/28166529_10109263331072171_4627309248732879730_n.jpg?_nc_cat=103&_nc_ht=scontent-iad3-1.xx&oh=c5d96b4375d5876dd55f446b3612d143&oe=5C644CAA' /></div>
    </div>
  </div>
</div>

<main role="main" class="inner cover">
  <h1 class="cover-heading">My Portfolio Website!</h1>
  <p class="lead">My name is Sohel Patel, I am an aspiring full stack developer, with a primary focus on Ruby on Rails.  I am currently located in North Carolina.</p>
  <p class="lead">
    <a href= <%= about_path %> class="btn btn-lg btn-secondary">Learn more about me</a>
  </p>
</main>

