<main role="main" class="inner cover">
  <h1 class="cover-heading">Work in Progress</h1>
  <p class="lead">I can be reached via </p>
  <p class="lead">
    <a href= <%= about_path %> class="btn btn-lg btn-secondary">Learn more about me</a>
  </p>
</main>