<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sohel Patel Resume</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/orbit-1.scss">
  </head> 

  <body>
    <div class="wrapper">
      <div class="sidebar-wrapper">
        <div class="profile-container">
          <img class="profile" src="assets/images/profile.png" alt="" />
          <h1 class="name">Sohel Patel</h1>
          <h3 class="tagline">Back End Developer</h3>
        </div><!--//profile-container-->
          
        <div class="contact-container container-block">
          <ul class="list-unstyled contact-list">
            <li class="email"><a href="mailto: spatel1009@gmail.com"><i class="fas fa-envelope"></i></a>spatel1009@gmail.com</li>
            <li class="website"><a href="https://themes.3rdwavemedia.com/bootstrap-templates/resume/orbit-free-resume-cv-bootstrap-theme-for-developers/" target="_blank"><i class="fas fa-globe"></i></a>BLANK.COM</li>
            <li class="linkedin"><a href="https://linkedin.com/in/sohel-patel/" target="_blank"><i class="fab fa-linkedin-in"></i></a>linkedin.com/in/sohel-patel/</li>
            <li class="github"><a href="https://github.com/spatel1009" target="_blank"><i class="fab fa-github"></i></a>github.com/spatel1009</li>
          </ul>
        </div><!--//contact-container-->
        <div class="education-container container-block">
          <h2 class="container-block-title">Education</h2>
          <div class="item">
            <h4 class="degree">Pursued BS in Biology</h4>
            <h5 class="meta">NC State University</h5>
            <div class="time">2007-2009</div>
          </div><!--//item-->
          <div class="item">
            <h4 class="degree">Pursued BS in Biology</h4>
            <h5 class="meta">UNC-Charlotte</h5>
            <div class="time">2005 - 2007</div>
          </div><!--//item-->
        </div><!--//education-container-->
        
        <div class="languages-container container-block">
          <h2 class="container-block-title">Languages</h2>
          <ul class="list-unstyled interests-list">
            <li>English <span class="lang-desc">(Native)</span></li>
            <li>Gujarati <span class="lang-desc">(Other)</span></li>
          </ul>
        </div><!--//interests-->

        <div class="interests-container container-block">
          <h2 class="container-block-title">Other Technical Skills</h2>
          <ul class="list-unstyled interests-list">
            <li>Heroku</li>
            <li>Rails API</li>
            <li>Github</li>
            <li>Mac OS</li>
            <li>Microsoft Visual Studio Code</li>
            <li>IntelliJ</li>
          </ul>
        </div><!--//interests-->          
      </div><!--//sidebar-wrapper-->
      
      <div class="main-wrapper"> 
        <section class="section summary-section">
          <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Career Profile</h2>
          <div class="summary">
            <p>Dynamic and detail-oriented back-end web developer with a knack for conceptualizing and delivering elegant, user-friendly solutions effectively and efficiently. Armed with an extensive understanding of Ruby on Rails.</p>
            <p>Former small business owner with a track record of problem solving, conflict resolution, customer relations, and strong leadership skills. Also, formerly excelled in a healthcare management position by taking initiative, learning from research, participating in seminars, and seeking guidance from experienced healthcare professionals.</p>
          </div><!--//summary-->
        </section><!--//section-->
        
        <section class="section experiences-section">
          <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
            
          <div class="item">
            <div class="meta">
              <div class="upper-row">
                <h3 class="job-title"><b>Back-End Developer</b></h3>
                <div class="time">July 2018 - Oct 2018</div>
              </div><!--//upper-row-->
              <div class="company">Momentum Learning, Durham, NC</div>
            </div><!--//meta-->
            <div class="details">
              <p>∙ Dedicated 12 weeks specializing in highly focused, immersive training centered on language fluency, object-oriented programming, and project based learning, utilizing Agile methods for projects</p>
              <p>∙ Strong understanding of MVC Framework</p>  
              <p>∙ Created a Small Business Scheduling app using Ruby on Rails and React.js, architected and implemented a full end to end solution which benefitted management by decreasing time spent creating schedules </p>
              <p>∙ Deployed and maintained the database through Heroku</p>
            </div><!--//details-->
          </div><!--//item-->
            
          <div class="item">
            <div class="meta">
              <div class="upper-row">
                <h3 class="job-title"><b>Owner/Operator</b></h3>
                <div class="time">2015 - 2018</div>
              </div><!--//upper-row-->
              <div class="company">Which Wich Sandwiches, Florence, SC</div>
            </div><!--//meta-->
            <div class="details">
              <p>∙ Developed a business plan, secured financing, negotiated contracts with the landlord and multiple vendors, and hired and trained staff members</p>
              <p>∙ Achieved profitability within first year</p>
              <p>∙ Managed day-to-day operations to ensure the business ran at optimal efficiency and customer needs were met</p>
              <p>∙ Oversaw implementation and maintenance of financial, POS, and labor management software</p>                
            </div><!--//details-->
          </div><!--//item-->
            
          <div class="item">
            <div class="meta">
              <div class="upper-row">
                <h3 class="job-title"><b>Office Manager</b></h3>
                <div class="time">2009 - 2018</div>
              </div><!--//upper-row-->
              <div class="company">Hope Psychiatric, Gastonia, NC</div>
            </div><!--//meta-->
            <div class="details">
              <p>∙ Assessed the IT needs of the business, and designed and implemented a new on-site server based electronic medical record system</p>
              <p>∙ Oversaw day-to-day operations, with a focus on patient satisfaction, engagement, and relationships</p>
              <p>∙ Generated revenue streams by finding new patients, negotiating reimbursement rates with insurance providers, and developing relationships with doctors, patients, and insurance companies</p>
            </div><!--//details-->
          </div><!--//item-->
              
        </section><!--//section-->
          
        <section class="skills-section section">
          <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
          <div class="skillset">        
            <div class="item">
              <h3 class="level-title">Ruby on Rails</h3>
                <div class="progress level-bar">
                  <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                               
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">Postgresql</h3>
                <div class="progress level-bar">
                  <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                                 
            </div><!--//item-->

            <div class="item">
              <h3 class="level-title">HTML5 &amp; CSS</h3>
                <div class="progress level-bar">
                  <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                                 
            </div><!--//item-->
                
            <div class="item">
              <h3 class="level-title">Javascript &amp; jQuery</h3>
                <div class="progress level-bar">
                  <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                </div>                              
            </div><!--//item-->
          </div>  
        </section><!--//skills-section-->
          
      </div><!--//main-body-->
    </div>

    <footer class="footer">
      <div class="text-center">
        <p><%= copyright_generator %></p>
      </div><!--//container-->
    </footer><!--//footer-->
          
  </body>
</html> 